@{
    ViewData["Title"] = "Index";
}

<div class="container w-50" id="main-content">
    <div class="bd-caro">
        <form asp-controller="Caro" asp-action="Caro3x3" method="post" class="row g-3">

            <div class="row mt-4">
                <div class="col-sm-4">
                    <label class="align-content-center mt-1">Nhập user:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="user" placeholder="Nhập user">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-4">
                    <label class="align-content-center mt-1">Nhập Id phòng:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="idGroup" placeholder="Nhập IdGroup">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right-button mt-2">
                    <button type="submit" id="joinButton" class="btn btn-primary mb-3">Confirm</button>
                </div>
            </div>

        </form>
    </div>
</div>

